.card-img-top {
    max-width: 350px;
    height: 400px;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-body {
    height: 250px; /* Set a fixed height for the card body */
    overflow: hidden; /* Hide overflowing content */
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis; /* Truncate long titles with an ellipsis */
    white-space: nowrap; /* Prevent titles from wrapping */
}

.card-price {
    margin-top: 10px; /* Add some spacing between price and description */
}

#gallery {
    padding-top: 100px;
}

.profile-link {
    text-decoration: none;
}

.profile-icon {
    font-size: 30px;
    color: #007bff;
    padding-left: 10px;
    /* Change the color as desired */
}
